<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.protfolio">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RecyclerViewEmployeeActivity"></activity>
        <activity android:name=".RecyclerViewContactActivity" />
        <activity android:name=".aboutCollege.ContactActivity" />
        <activity android:name=".aboutCollege.MapActivity" />
        <activity android:name=".aboutCollege.DepartmentActivity" />
        <activity android:name=".profile.SignUpActivity" />
        <activity android:name=".profile.ProfileActivity" />
        <activity android:name=".profile.LoginActivity" />
        <activity android:name=".communicate.AboutUsActivity" />
        <activity android:name=".communicate.RateUsActivity" />
        <activity android:name=".communicate.ShareActivity" />
        <activity android:name=".aboutCollege.EmployeeActivity" />
        <activity android:name=".aboutCollege.StudentActivity" />
        <activity android:name=".aboutCollege.NewsActivity" />
        <activity android:name=".aboutCollege.AboutCollegeActivity" />
        <activity android:name=".MainScreen" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>